{% extends "settings.html" %}

{% block pagetitle %}Guild settings - +{{ b.name }}{% endblock %}

{% block content %}
<div class="row justify-content-around">

    <div class="col-12 col-md-7 h-100">

    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
          <i class="fas fa-exclamation-circle my-auto"></i>
          <span>
              {{ error }}
          </span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="far fa-times"></i></span>
        </button>
    </div>
    {% endif %}
    {% if msg %}
    <div class="alert alert-success alert-dismissible fade show my-3" role="alert">
        <i class="fas fa-check-circle my-auto" aria-hidden="true"></i>
        <span>
          {{ msg }}
      </span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="far fa-times"></i></span>
      </button>
    </div>
    {% endif %}

<div class="mt-3 mt-md-0">

    <h1 class="h3">+{{ b.name }} Exiles</h1>

	<form 

    

</div>

<div class="row">

    <div class="col">

        <div class="settings">

</div>
</div>
</div>

    </div>
</div>
{% endblock %}