{% extends "submit.html" %}

{% block title %}<title>+{{ b.name }} Guildmasters</title>{% endblock %}

{% block pagetitle %}+{{ b.name }} Guildmasters{% endblock %}
{% block subtitle %}Invite or remove masters to +{{ b.name }}{% endblock %}

{% block form %}


                                <div class="body">

                                    <input type="hidden" name="formkey" value="{{ v.formkey }}">

                                    <label for="title">Guildmasters</label>
                                    <small class="form-text text-muted">Invite or remove guildmasters</small>

				{% for mod in b.mods %}
					<div><a href="{{ mod.permalink }}">@{{ mod.username }}</a> - <a href="javascript:void(0)", onclick="post('/mod/{{ b.base36id }}/remove/{{ mod.username }}')">{% if mod==v %}step down{% else %}remove{% endif %}</a></div>
				{% endfor %}

                            </div>

                            <div class="footer">

                                <div class="d-flex">

                                    {% if error %}
                                    <p class="mb-0">
                                        <span class="text-danger text-small" style="vertical-align: sub;">{{ error }}</span>
                                    </p>
                                    {% endif %}

                                    <button class="btn btn-primary ml-auto" id="create_button">Update Guild</button>

                                </div>

                            </div>


{% endblock %}