{% extends "submit.html" %}

{% block title %}<title>+{{ b.name }} Guildmasters</title>{% endblock %}

{% block pagetitle %}<a href="{{ b.permalink }}">+{{ b.name }}</a> Guildmasters{% endblock %}
{% block subtitle %}Invite or remove masters to +{{ b.name }}{% endblock %}

{% block form %}


                                <div class="body">

				{% if v and b.has_invite(v) %}
				<div>You have been invited to be a master of this guild. <a class="btn btn-primary" href="javascript:void(0)" onclick="post('/mod/accept/{{ b.base36id }}', callback=function(){window.location.reload(true)})">Accept</a>
				</div>
				{% endif %}

                                <label for="title">Guildmasters</label>
                                <div class="form-text">Current guildmasters</div>

				{% set is_above=False %}
				{% for mod in b.mods %}
					<div><a href="{{ mod.permalink }}">@{{ mod.username }}</a>{% if is_above %} - <a href="javascript:void(0)", onclick="post('/mod/{{ b.base36id }}/remove/{{ modusername }}', callback=function(){window.location.reload(true)})">remove</a>{% elif mod==v %}<a href="javascript:void(0)", onclick="post('/mod/{{ b.base36id }}/remove/{{ modusername }}', callback=function(){window.location.reload(true)})">step down</a>{% set is_above=True %}{% endif %}</a></div>
				{% else %}
					<div class="form-text text-muted">No guildmasters at this time.</div>
				{% endfor %}
				<div class="mt-2">
				<label class="pt-1" >Guildmaster Invitations</label>
				<div class="form-text">Pending Guildmaster invitations</div>
				
				{% for mod in b.invited_mods %}
					<div><a href="{{ mod.user.permalink }}">@{{ mod.user.username }}</a>{% if me %} - <a href="javascript:void(0)", onclick="post('/mod/rescind/{{ b.base36id }}/{{ mod.user.username }}', callback=function(){window.location.reload(true)})">rescind</a>{% endif %}</div>
				{% else %}
					<div class="form-text text-muted">No invitees at this time.</div>
				{% endfor %}
				</div>
				<div class="mt-2">
				<label>Invite</label>
				<form action="/mod/invite_mod/{{ b.base36id }}" method="post">
				<input type="hidden" name="formkey" value="{{ v.formkey }}">
				<input type="text" name="username" class="form-input">
				<input type="submit" class="btn btn-primary" value="Invite user">
				</form>
				</div>

                            </div>

                            <div class="footer">

                                <div class="d-flex">

                                    {% if error %}
                                    <p class="mb-0">
                                        <span class="text-danger text-small" style="vertical-align: sub;">{{ error }}</span>
                                    </p>
                                    {% endif %}

                                </div>

                            </div>


{% endblock %}