{% extends "default.html" %}

{% block title %}
<title>Ruqqus Legal Request</title>
<meta name="description" content="Ruqqus legal request">
{% endblock %}

{% block content %}
{% filter markdown %}
# Ruqqus Legal Request

Use this page to submit a legal request to Ruqqus. You must provide an official email address, such as a .gov address. Requests with non-official email addresses will not be processed.
{% endfilter %}

{% if v and v.is_banned %}

<div>Your Ruqqus account has been suspended. You are not permitted to submit legal requests at this time.</div>

{% elif v and v.is_activated %}
<form id="legal-form" action="/legal/2" method="post">
	
	<input type="hidden" name="formkey" value="{{ v.formkey }}">

	<div class="h6 mt-5">Email</div>
	<input type="text" name="email" class="form-control" value="{{ v.email }}" readonly="readonly">

	<div class="h6 mt-5">Tell us about yourself.</div>
	<input type="radio" name="about_yourself" value="law_enforcement"> I am an authorized United States federal or state law enforcement representative.<br>
	<input type="radio" name="about_yourself" value="gov_official"> I am an authorized United States federal or state government representative (ex. district attorney)<br>
	<input type="radio" name="about_yourself" value="not_authorized" checked required> None of the above<br>

	<div class="h6 mt-5">Your name</div>
	<div class="body">Your full, legal name. Stage names, pen names, nicknames, pseudonyms, etc. are not accepted and will result in the denial of your request.</div>
	<input type="text" name="your_name" class="form-control" required>

	<div class="h6 mt-5">Your organization</div>
	<input type="text" name="your_org" class="form-control" required>

	<div class="h6 mt-5">Your position/title</div>
	<input type="text" name="your_position" class="form-control" required>

	<div class="h6 mt-5">Your address</div>
	<div class="body">Your full legal address. PO boxes and similar are not accepted.</div>
	<textarea form="legal-form" name="your_address" class="form-control" required></textarea>

	<div class="h6 mt-5">Your reference number</div>
	<div class="body">For your convenience, we will include this reference number in our response to you.</div>
	<input type="text" name="your_reference" class="form-control" required>

	<div class="h6 mt-5">What kind of request is this?</div>
	<input type="radio" name="request_type" value="user_info_emergency" checked required> Emergency request for user account information<br>
	<input type="radio" name="request_type" value="user_info_legal" checked required> Subpoena, search warrant, or similar legal request for user account information<br>
	<input type="radio" name="request_type" value="user_info_baseless" checked required> Other request for user account information<br>
	<input type="radio" name="request_type" value="post_takedown"> Request to take down illegal content<br>
	<input type="radio" name="request_type" value="data_save"> Request to preserve data for a future information request<br>

	<input type="submit" value="Next">
</form>

{% elif v %}
<p>Please <a href="/settings/profile">verify your email address</a>. Once you have done so, refresh this page to use the Legal Request form.</p>
{% else %}
{% filter markdown %}
<p>Please sign up or log in and verify your email address in order to use this form.</p>
{% endfilter %}
{% endif %}

{% endblock %}