{% extends "home.html" %}

{% block adminpanel %}
{% endblock %}

{% block sidebarblock %}
<div class="sidebar-section sidebar-info-basic">
  <div class="body pb-0">
    <h1 class="h6 d-inline-block">+{{ b.name }}</h1>
    <p class="text-muted">Founded {{ b.age_string }}</p>
  </div>
  <div class="body pt-0">
    {{ b.description_html | safe }}
  </div>
</div>
<div class="sidebar-section sidebar-mods">
  <div class="title">Guildmasters</div>
  <div class="body">
  <ul>
  {% for mod in b.mods %}
  <li><a href="{{ mod.user.permalink }}">@{{ mod.user.username }}</a></li>
  {% else %}
  <li>None</li>
  {% endfor %}
  </ul>
 </div>
</div>
{% if v and b.has_mod(v) %}
<div class="sidebar-section sidebar-guild-tools">
	<div class="title">Guildmaster Tools</div>
	<div class="body pt-0">
  		<div><a href="{{ b.permalink}}/mod/settings"><i class="fad fa-cog"></i>Settings</a></div>
		<div><a href="{{ b.permalink}}/mod/mods"><i class="fad fa-user-crown"></i>Guildmasters</a></div>
		<div><a href="{{ b.permalink}}/mod/exiled"><i class="fad fa-gavel"></i>Exiles</a></div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block pagetype %}userpage{% endblock %}

{% block title %}
<title>Ruqqus: +{{ b.name }}</title>
<meta name="description" content="+{{ b.name }}">
{% endblock %}

{% block enlargeThumbJS %}
<script src="/assets/js/enlarge_thumb.js"></script>
{% endblock %}

{% block fixedMobileBarJS %}
<script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("fixed-bar-mobile").style.top = "45px";
    } 
    else if (currentScrollPos <= 125) {
      document.getElementById("fixed-bar-mobile").style.top = "45px";
    }
    else {
      document.getElementById("fixed-bar-mobile").style.top = "-90px";
      document.getElementById("dropdownMenuSortBy").classList.remove('show');
      document.getElementById("dropdownMenuFrom").classList.remove('show');
    }
    prevScrollpos = currentScrollPos;
  }
</script>
{% endblock %}