{% for b in boards %}




<div id="board-{{ b.base36id }}" class="card">
  <div class="d-flex flex-row-reverse flex-nowrap justify-content-end">
    <div class="card-header bg-transparent border-0 d-flex flex-row flex-nowrap p-0 my-md-auto pl-3 ml-auto">

      <div class="dropdown show my-auto post-actions ml-4 d-none d-md-block">
        <a href="#" role="button" id="dropdownMoreLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
      </a>

      <div class="dropdown-menu border-0 shadow dropdown-menu-right mt-2"
      aria-labelledby="dropdownMoreLink">
      <a href="javascript:void(0);" role="button" class="dropdown-item copy-link" data-clipboard-text="{{ b.permalink | full_link }}"><i class="fas fa-link"></i>Copy link</a>
      <a class="dropdown-item d-none" href="#"><i class="fas fa-save"></i>Save</a>
      {% if v and not v.id==b.creator_id %}
      <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#reportPostModal" onclick="report_postModal('{{ b.base36id }}')"><i class="fas fa-flag"></i>Flag</a>
      {% endif %}
      {% if v %}
      {% if v.admin_level >=1 %}
      {% if b.is_banned or b.active_flags %}
      <a class="dropdown-item approveDropdownItem" id="moderate-board-{{ b.base36id }}" href="javascript:void(0)" onclick="approvePost('{{ b.base36id }}')"><i class="fas fa-clipboard-check"></i>Approve</a>
      {% endif %}
      {% if not b.is_banned or b.active_flags %}
      <a class="dropdown-item removeDropdownItem" id="moderate-board-{{ b.base36id }}" href="javascript:void(0)" onclick="removePost('{{ b.base36id }}')"><i class="fas fa-trash-alt"></i>Remove</a>
      {% endif %}
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
<div class="card-block text-left x-scroll-parent my-md-auto">
  <div class="post-meta text-left x-scroll d-block d-md-none mb-2"><span class="badge badge-danger">NSFW</span> &#183; {% endif %}{{ b.subscriber_count }} Member{{ 's' if b.subscriber_count != 1 else '' }}
  </div>
  <h5 class="card-title post-title text-left mb-0 mb-md-2"><a href="{{ b.permalink }}" class="stretched-link text-primary">+{{ b.name | safe }}</a></h5>
  <div class="post-meta text-left d-none d-md-block">{% if b.over_18 %}<span class="badge badge-danger">NSFW</span> &#183; {% endif %}{{ b.subscriber_count }} Member{{ 's' if b.subscriber_count != 1 else '' }}
  </div>

  {% if b.body_html %}
  <div class="post-preview-lg">
    <div class="post-body mt-3"> 
      {{ b.body | truncate(140, False, '...', 0) }}
    </div>
  </div>
  {% endif %}

</div>


</div>





<!-- Post Actions Modal -->
<div class="modal fade d-md-none" id="actionsModal-{{ b.base36id }}" tabindex="-1" role="dialog" aria-labelledby="actionsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h6">More options</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="far fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group post-actions">
          <li class="list-group-item d-none"><a href="#" class="d-block"><i class="fas fa-save"></i>Save</a></li>
          {% if v and not v.id==b.creator_id %}
          <li class="list-group-item"><a href="javascript:void(0)" data-toggle="modal" data-dismiss="modal" data-target="#reportPostModal" onclick="report_postModal('{{ b.base36id }}')" class="d-block"><i class="fas fa-flag"></i>Flag</a></li>
          {% endif %}
          {% if v %}
          {% if v.admin_level >=1 %}
          {% if b.is_banned or b.active_flags %}
          <li class="list-group-item"><a class="d-block" id="moderate-post-{{ b.base36id }}" href="javascript:void(0)" onclick="approvePost('{{ b.base36id }}')"><i class="fas fa-clipboard-check"></i>Approve</a></li>
          {% endif %}
          {% if not b.is_banned or b.active_flags %}
          <li class="list-group-item"><a class="d-block" id="moderate-post-{{ b.base36id }}" href="javascript:void(0)" onclick="removePost('{{ b.base36id }}')"><i class="fas fa-trash-alt"></i>Remove</a></li>
          {% endif %}
          {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

</div>

{% endfor %}