{% extends "home.html" %}

{% block adminpanel %}
{% endblock %}

{% block sidebarblock %}
<div class="sidebar-section sidebar-info-basic">
  <div class="body pb-0">
    <h1 class="h6 d-inline-block">+{{ b.name }}</h1>
    <div><span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ b.created_date }}" class="text-muted"><i class="fad fa-calendar-day text-muted"></i> Founded {{ b.age_string }}</span</div>
    <div><span class="text-muted"><i class="fad fa-users"></i> {{ b.subscriber_count }} Member{{ 's' if b.subscriber_count != 1 else '' }}</span></div>
  </div>
  {% if b.over_18 %}
  <div class="body">
    <span class="badge badge-danger">NSFW</span>
  </div>
  {% endif %}
  <div class="body pt-0">
    {{ b.description_html | safe }}
  </div>
  {% if v %}
    <div class="body">
      <div id="button-sub" {% if is_subscribed %}class="d-none"{% endif %}><a class="btn btn-primary btn-block" href="javascript:void(0)" onclick="post('/api/subscribe/{{ b.name }}', callback=function(){document.getElementById('button-unsub').classList.toggle('d-none');document.getElementById('button-sub').classList.toggle('d-none');})">Join +{{ b.name }}</a></div>
      <div id="button-unsub" {% if not is_subscribed %}class="d-none"{% endif %}><a class="btn btn-secondary btn-block" href="javascript:void(0)" onclick="post('/api/unsubscribe/{{ b.name }}', callback=function(){document.getElementById('button-unsub').classList.toggle('d-none');document.getElementById('button-sub').classList.toggle('d-none');})">Leave +{{ b.name }}</a></div>
    </div>
  {% endif %}
</div>
<div class="sidebar-section sidebar-submit">
  <div class="title">Submit to +{{ b.name }}</div>
  <div class="body">
    <a class="btn btn-primary btn-block" href="/submit?guild={{ b.name | urlencode }}">Create Post</a>
  </div>
</div>
<div class="sidebar-section sidebar-mods">
  <div class="title">Guildmasters</div>
  <div class="body">
  <ul>
  {% for mod in b.mods %}
  <li><a href="{{ mod.permalink }}">@{{ mod.username }}</a></li>
  {% else %}
  <li>None</li>
  {% endfor %}
  </ul>
 </div>
</div>
{% if v and b.has_mod(v) %}
<div class="sidebar-section sidebar-guild-tools">
	<div class="title">Guildmaster Tools</div>
	<div class="body pt-0">
  		<div><a href="{{ b.permalink}}/mod/settings"><i class="fad fa-cog"></i>Settings</a></div>
		<div><a href="{{ b.permalink}}/mod/mods"><i class="fad fa-user-crown"></i>Guildmasters</a></div>
		<div><a href="{{ b.permalink}}/mod/exiled"><i class="fad fa-gavel"></i>Exiles</a></div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block pagetype %}userpage{% endblock %}

{% block title %}
<title>Ruqqus: +{{ b.name }}</title>
<meta name="description" content="+{{ b.name }}">
{% endblock %}

{% block enlargeThumbJS %}
<script src="/assets/js/enlarge_thumb.js"></script>
{% endblock %}

{% block fixedMobileBarJS %}
<script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("fixed-bar-mobile").style.top = "45px";
    } 
    else if (currentScrollPos <= 125) {
      document.getElementById("fixed-bar-mobile").style.top = "45px";
    }
    else {
      document.getElementById("fixed-bar-mobile").style.top = "-90px";
      document.getElementById("dropdownMenuSortBy").classList.remove('show');
      document.getElementById("dropdownMenuFrom").classList.remove('show');
    }
    prevScrollpos = currentScrollPos;
  }
</script>
{% endblock %}