{% extends "home.html" %}

{% block stylesheets %}

{% if v and v.referral_count and session.get("dark_mode_enabled") %}
<link id="css-link" rel="stylesheet" href="{{ b.css_dark_url }}">
{% else %}
<link id="css-link" rel="stylesheet" href="{{ b.css_url }}">
{% endif %}

{% endblock %}

{% block darkswitch %}

<script>
  function switch_css_board() {
    css = document.getElementById("css-link");
    dswitch = document.getElementById("dark-switch");

    if (css.href.endsWith("{{ b.css_url }}")) {
      css.href="{{ b.css_dark_url }}";
      post("/settings/dark_mode/1");
      dswitch.classList.remove("fa-toggle-off");
      dswitch.classList.add("fa-toggle-on");
    }
    else {
      css.href="{{ b.css_url }}";
      post("/settings/dark_mode/0");
      dswitch.classList.remove("fa-toggle-on");
      dswitch.classList.add("fa-toggle-off");
    }
  }
</script>
{% if v and v.referral_count and session.get("dark_mode_enabled")%}
<a class="dropdown-item" href="javascript:void(0)" onclick="switch_css_board()"><i class="fad fa-toggle-on fa-width-rem text-left mr-3" id="dark-switch"></i>Dark mode</a>
{% elif v and v.referral_count %}
<a class="dropdown-item" href="javascript:void(0)" onclick="switch_css_board()"><i class="fad fa-toggle-off fa-width-rem text-left mr-3" id="dark-switch"></i>Dark mode</a>
{% else %}
<a class="dropdown-item" href="/settings/profile#referral"><i class="fad fa-toggle-off fa-width-rem text-left mr-3"></i>Dark mode</a>
{% endif %}
{% endblock %}

{% block postNav %}
<div class="container-fluid bg-white sticky d-none d-lg-block">
  <div class="row box-shadow-bottom">
    <div class="col">
      <div class="container">
        <div class="row box-shadow-bottom bg-white">
          <div class="col">
            <div class="d-flex">
              <ul class="nav post-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link{% if sort_method=="hot" %} active{% endif %}" href="?sort=hot{% if only %}&only={{ only }}{% endif %}"><i class="fas fa-fire"></i>Hot</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link{% if sort_method=="top" %} active{% endif %}" href="?sort=top{% if only %}&only={{ only }}{% endif %}"><i class="fas fa-arrow-alt-circle-up"></i>Top</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link{% if sort_method=="new" %} active{% endif %}" href="?sort=new{% if only %}&only={{ only }}{% endif %}"><i class="fas fa-sparkles"></i>New</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link{% if sort_method=="disputed" %} active{% endif %}" href="?sort=disputed"><i class="fas fa-bullhorn"></i>Disputed</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link {% if sort_method=="activity" %} active{% endif %}" href="?sort=activity"><i class="fas fa-comments"></i>Activity</a>
                </li>
              </ul>
              {% if v %}
              <div class="my-auto">
                <div id="button-sub-side" {% if is_subscribed %}class="d-none"{% endif %}><a class="btn btn-primary btn-block" href="javascript:void(0)" onclick="post('/api/subscribe/{{ b.name }}', callback=function(){document.getElementById('button-unsub').classList.toggle('d-none');document.getElementById('button-sub').classList.toggle('d-none');document.getElementById('button-unsub-side').classList.toggle('d-none');document.getElementById('button-sub-side').classList.toggle('d-none');})">Join guild</a></div>
              </div>
              <div class="my-auto">
                <div id="button-unsub-side" {% if not is_subscribed %}class="d-none"{% endif %}><a class="btn btn-secondary btn-block" href="javascript:void(0)" onclick="post('/api/unsubscribe/{{ b.name }}', callback=function(){document.getElementById('button-unsub').classList.toggle('d-none');document.getElementById('button-sub').classList.toggle('d-none');document.getElementById('button-unsub-side').classList.toggle('d-none');document.getElementById('button-sub-side').classList.toggle('d-none');})">Leave</a></div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block PseudoSubmitForm %}
<!-- Link to submission page from guild -->

<div class="row no-gutters d-none d-lg-flex">

  <div class="col">

    {% if b.can_submit(v) %}
    <div class="card pseudo-submit-form">
      <div class="card-header bg-white">
        <div class="mb-0">Create post in +{{ b.name }}</div>
        <ul class="list-inline no-bullets mb-0 d-none">
          <li class="list-inline-item active mr-4"><i class="fas fa-align-left text-gray-400"></i></li>
          <li class="list-inline-item"><i class="fas fa-link text-gray-400"></i></li>
        </ul>
      </div>
      <div class="card-body">
        {% if v and not is_subscribed %}
        <a href="/submit?guild={{ b.name | urlencode }}">
          <input type="text" class="form-control"
          placeholder="Share something with this guild..." aria-label="Username"
          aria-describedby="basic-addon1">
        </a>
        {% elif v and is_subscribed %}
        <a href="/submit?guild={{ b.name | urlencode }}">
          <input type="text" class="form-control"
          placeholder="Share something with your guild..." aria-label="Username"
          aria-describedby="basic-addon1">
        </a>
        {% else %}
        <a href="/signup">
          <input type="text" class="form-control"
          placeholder="Share something with this guild..." aria-label="Username"
          aria-describedby="basic-addon1">
        </a>
        {% endif %}
      </div>
    </div>
    {% endif %}

  </div>

</div>
{% endblock %}

{% block banner %}
<!-- Desktop -->
<div class="jumbotron jumbotron-fluid jumbotron-guild text-white d-none d-md-flex" style="background-image: url({{ b.banner_url }})">
  <div class="w-100 p-3" style="bottom: 0;">
    <div class="container">
      <div class="d-md-flex align-items-center">
        <div>
          <a href="{{ b.permalink }}"><img src="{{ b.profile_url }}" class="profile-pic-75"></a>
        </div>
        <div class="ml-3 w-100">
          <a href="{{ b.permalink }}" class="text-white">
            <h1 class="h3 d-inline-block mr-2">+{{ b.name }}
            </h1>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mobile -->
<div class="container-fluid text-center bg-white d-md-none">
  <div class="row">
    <div class="col px-0">
      <img src="{{ b.banner_url }}" style="width: 100%; height: 65px; object-fit: cover;">
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col">
      <div style="margin-top: -34px;">
        <a href="{{ b.permalink }}"><img src="{{ b.profile_url }}" class="profile-pic-65 border-2 border-white mb-2"></a>
      </div>
      <div class="mt-n3 py-3">
        <a href="{{ b.permalink }}" class="text-black">
          <h1 class="h5 d-inline-block">+{{ b.name }}
            {% if b.over_18 %}
            <span class="badge badge-danger text-small align-top">nsfw</span>
            {% endif %}
          </h1>
        </a>
        <div class="text-muted">{{ b.description_html | safe }}</div>
        <p class="font-weight-bold">{{ b.subscriber_count }} member{{ 's' if b.subscriber_count != 1 else '' }}
        </p>
        {% if v %}
        <div id="button-sub" {% if is_subscribed %}class="d-none"{% endif %}><a class="btn btn-primary btn-block" href="javascript:void(0)" onclick="post('/api/subscribe/{{ b.name }}', callback=function(){document.getElementById('button-unsub').classList.toggle('d-none');document.getElementById('button-sub').classList.toggle('d-none');document.getElementById('button-unsub-side').classList.toggle('d-none');document.getElementById('button-sub-side').classList.toggle('d-none');})">Join guild</a></div>
        <div id="button-unsub" {% if not is_subscribed %}class="d-none"{% endif %}><a class="btn btn-secondary btn-block" href="javascript:void(0)" onclick="post('/api/unsubscribe/{{ b.name }}', callback=function(){document.getElementById('button-unsub').classList.toggle('d-none');document.getElementById('button-sub').classList.toggle('d-none');document.getElementById('button-unsub-side').classList.toggle('d-none');document.getElementById('button-sub-side').classList.toggle('d-none');})">Leave</a></div>
        {% elif not v %}
        <a class="btn btn-primary btn-block" href="/signup">Join guild</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block sidebarblock %}

<div class="sidebar-section sidebar-info-basic">
  <div class="title">
    <i class="fas fa-info-circle mr-2"></i>Guild details
    {% if v %}
    <div class="dropdown my-auto post-actions float-right d-inline-block">
      <a href="#" role="button" id="dropdownMoreLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="line-height: 0;
      ">
      <i class="far fa-ellipsis-h text-white"></i>
    </a>
    <div class="dropdown-menu border-0 shadow dropdown-menu-right mt-2" aria-labelledby="dropdownMoreLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(21px, 18px, 0px);">
      {% if not b.has_mod(v) %}
      <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#reportGuildModal" onclick="report_guildModal('')"><i class="fas fa-flag"></i>Report guild</a>
      {% endif %}
      {% if b.has_mod(v) %}
      <a class="dropdown-item" href="{{ b.permalink }}/mod/settings"><i class="fas fa-cog"></i>Guild settings</span>
      </a>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
<div class="body">
 <div class="d-flex mb-3">
   {% if b.has_profile %}
   <div>
     <a href="{{ b.permalink }}"><img src="{{ b.profile_url }}" class="profile-pic-50 mr-2"></a>
   </div>
   {% elif not b.has_profile and v and b.has_mod(v) %}
   <a href="{{ b.permalink}}/mod/appearance" class="profile-pic-50 btn btn-outline-primary border-3 btn-rounded mr-2" style="border-style: dotted;">
     <div class="letter" style="line-height: 3;"><i class="far fa-cloud-upload" style="font-size: 1.25rem"></i></div>
   </a>
   {% endif %}
   <div class="my-auto"><a href="{{ b.permalink }}"><h1 class="h5 mb-0">+{{ b.name }}</h1></a>
    <div class="text-small mt-1"><span class="font-weight-bold">{{ b.subscriber_count }}</span> member{{ 's' if b.subscriber_count != 1 else '' }} <span>&#183;</span> Founded <span class="font-weight-bold" data-toggle="tooltip" data-placement="bottom" title="{{ b.created_date }}">{{ b.age_string }}</span>
    </div>
  </div>
</div>
<div class="text-small mt-1">
  {% if b.over_18 %}<span class="badge badge-danger text-small align-middle">nsfw</span>{% endif %}{% if b.is_banned %} <span class="badge badge-danger">Banned</span>{% endif %}
</div>
<div>{{ b.description_html | safe }}</div>
{% if b.can_submit(v) %}
<a href="/submit?guild={{ b.name | urlencode }}" class="btn {% if is_subscribed %}btn-primary{% else %}btn-secondary{% endif %} btn-block mt-2">Create post</a>
{% endif %}
</div>
</div>

{% if b.is_private %}
<div class="sidebar-section sidebar-info-basic">
  <div class="title"><i class="fas fa-eye-slash"></i> Private Guild</div>

  <div class="body">
    <p>This guild is private. New posts submitted here (and the comments on them) are not visible to the general public.</p>
    {% if not v %}
    <p>You are not logged in, and you can only see anything saved while +{{ b.name }} was not private.</p>
    {% elif b.has_mod(v) %}
    <p>You are a guildmaster, and can participate fully here.</p>
    {% elif b.has_contributor(v) %}
    <p>You are an approved user, and can participate fully here.</p>
    {% elif b.has_invite(v) %}
    <p>You have been invited to be a guildmaster here. You can view everything, but you can't participate until you accept your invitation.</p>
    {% elif v.admin_level >=4 %}
    <p>You are only able to view everything here because you are an admin.</p>
    {% else %}
    <p>You cannot participate in +{{ b.name }}, but you can still see anything saved while +{{ b.name }} was not private.</p>
    {% endif %}
  </div>
</div>
{% endif %}

<div class="sidebar-section sidebar-rules">
  <div class="title"><i class="fas fa-scroll-old mr-2"></i>Rules and guidelines
    {% if v and b.has_mod(v) %}
    <div class="dropdown my-auto post-actions float-right d-inline-block">
      <a href="#" role="button" id="dropdownMoreLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="line-height: 0;
      ">
      <i class="far fa-ellipsis-h text-white"></i>
    </a>
    <div class="dropdown-menu border-0 shadow dropdown-menu-right mt-2" aria-labelledby="dropdownMoreLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(21px, 18px, 0px);">
      <a class="dropdown-item" href="{{ b.permalink }}/mod/settings"><i class="fas fa-edit"></i>Edit rules</a>
    </div>
  </div>
  {% endif %}
</div>
<div class="body">
  <ol class="pl-0 mb-0">   
    <li>
      <a class="text-black font-weight-bold collapsed" data-toggle="collapse" href="#ruleCollapse1" role="button" aria-expanded="false" aria-controls="ruleCollapse1">Comply with US law<span class="float-right"><i class="fa"></i></span>
      </a>
    </li>
    <div id="ruleCollapse1" class="collapse">
      <p style="padding: 0 0 0 22px;">Do not post copyrighted material that you are not authorized to distribute. Do not post anything not legal to publish within, or export from, the United States of America.</p>
    </div>
    <li>
      <a class="text-black font-weight-bold collapsed" data-toggle="collapse" href="#ruleCollapse2" role="button" aria-expanded="false" aria-controls="ruleCollapse2">Do not harass other users<span class="float-right"><i class="fa"></i></span>
      </a>
    </li>
    <div id="ruleCollapse2" class="collapse">
      <p style="padding: 0 0 0 22px;">Do not harass or threaten others on Ruqqus. You are not allowed to share or publish personal information, either yours or another person.</p>
    </div>
    <li>
      <a class="text-black font-weight-bold collapsed" data-toggle="collapse" href="#ruleCollapse3" role="button" aria-expanded="false" aria-controls="ruleCollapse3">No inciting violence<span class="float-right"><i class="fa"></i></span>
      </a>
    </li>
    <div id="ruleCollapse3" class="collapse">
      <p style="padding: 0 0 0 22px;">No incitement, planning or execution of unlawful or violent activity. This does not include the exercise of human rights that may be considered unlawful in a user's home country but protected in the United States.</p>
    </div>
    <li>
      <a class="text-black font-weight-bold collapsed" data-toggle="collapse" href="#ruleCollapse4" role="button" aria-expanded="false" aria-controls="ruleCollapse4">Check for duplicates
        <span class="float-right"><i class="fa"></i></span>
      </a>
    </li>
    <div id="ruleCollapse4" class="collapse">
      <p style="padding: 0 0 0 22px;">Nobody likes reposts. Please make sure the content you're posting hasn't been posted on Ruqqus before.</p>
    </div>
  </ol>
</div>
</div>

<div class="sidebar-section sidebar-mods">
  <div class="title"><i class="fas fa-crown mr-2"></i>Guildmasters
    {% if v and b.has_mod(v) %}
    <div class="dropdown my-auto post-actions float-right d-inline-block">
      <a href="#" role="button" id="dropdownMoreLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="line-height: 0;
      ">
      <i class="far fa-ellipsis-h text-white"></i>
    </a>
    <div class="dropdown-menu border-0 shadow dropdown-menu-right mt-2" aria-labelledby="dropdownMoreLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(21px, 18px, 0px);">
      <a class="dropdown-item" href="{{ b.permalink }}/mod/mods"><i class="fas fa-cog"></i>Manage guildmasters</a>
    </div>
  </div>
  {% endif %}
</div>
<div class="body">
  <ul class="no-bullets pl-0">
    {% for mod in b.mods %}
    <li class="mb-2">
      <a href="{{ mod.permalink }}" class="font-weight-bold">
        <span class="align-middle">{{ mod.username }}</span>
      </a>
    </li>
    {% else %}
    <li>
      <div class="text-center mb-2" style=""><i class="fad fa-ghost text-muted" style="font-size: 2.5rem"></i></div>
      <p class="text-center text-small text-muted mb-0">+{{ b.name }} has no guildmasters</p>
    </li>
    {% endfor %}
  </ul>
</div>
</div>

{% if v and b.has_mod(v) %}
<div class="sidebar-section sidebar-guild-tools">
  <div class="title"><i class="fas fa-tools mr-2"></i>Guildmaster Tools</div>
  <div class="body">
    <div><a href="{{ b.permalink}}/mod/settings"><i class="fad fa-cog fa-width-rem"></i>Settings</a></div>
    <div><a href="{{ b.permalink}}/mod/appearance"><i class="fad fa-palette fa-width-rem"></i>Appearance </a></div>
    <div><a href="{{ b.permalink}}/mod/mods"><i class="fad fa-crown fa-width-rem"></i>Guildmasters</a></div>
    <div><a href="{{ b.permalink}}/mod/exiled"><i class="fad fa-user-slash fa-width-rem"></i>Exiles</a></div>
    <div><a href="{{ b.permalink}}/mod/queue"><i class="fad fa-flag fa-width-rem"></i>Reports</a></div>
    {% if b.restricted_posting or b.is_private %}
    <div><a href="{{ b.permalink}}/mod/contributors"><i class="fad fa-user-check fa-width-rem"></i>Contributors</a></div>
    {% endif %}
  </div>

</div>
{% endif %}

{% if not v and trending_boards %}
<div class="sidebar-section sidebar-trending">
  <div class="title"><i class="fas fa-sparkles mr-2"></i>Rising Guilds
  </div>
  <div class="body">
    {% for entry in trending_boards[0:5] %}
    <div class="d-flex justify-content-start trending-guild">
      <div>
        <a href="{{ entry[0].permalink }}"><img src="{{ entry[0].profile_url }}" class="profile-pic-40 mr-2"></a>
      </div>
      <div>
        <a href="{{ entry[0].permalink }}">+{{ entry[0].name }}</a>
        <div class="text-muted text-small font-weight-normal">{{ entry[1] }} Member{{ '' if entry[1]==1 else 's' }}</div>
      </div>
    </div>
    {% endfor %}
    <a href="/browse" class="btn btn-primary btn-block mt-3">View more</a>
  </div>
</div>
{% elif v and v.subscriptions.filter_by(is_active=True).count() %}
<div class="sidebar-section sidebar-guild-recommendations">
  <div class="title"><i class="fas fa-university mr-2"></i>My guilds</div>
  <div class="body">
    <ul class="no-bullets guild-recommendations-list pl-0">
      {% for board in v.boards_subscribed[0:8] %}
      <li class="guild-recommendations-item">
        <a href="{{ board.permalink }}">
          <div class="d-flex">
            <div class="mr-2">
              <img src="{{ board.profile_url }}" class="profile-pic-25"></div>
              <div class="my-auto">
                <div class="text-black font-weight-normal">+{{ board.name }}</div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="text-center">
        <a href="/browse" class="btn btn-link">View all</a>
      </div>
    </div>
  </div>
  {% elif v and not v.subscriptions.filter_by(is_active=True).count() %}
  <div class="sidebar-section sidebar-guild-recommendations sticky-105">
    <div class="title"><i class="fas fa-university mr-2"></i>My guilds</div>
    <div class="body">
      <div class="my-3" style="">
        <i class="fad fa-telescope text-primary" style="font-size:3rem"></i>
      </div>
      <h5>Discover amazing communities across Ruqqus.</h5>
      <p class="text-small">You are not a member of any guilds. Guilds you are a member of will be displayed here.</p>
      <a href="/browse" class="btn btn-primary btn-block">Discover guilds</a>
    </div>
  </div>
  {% endif %}

  {% endblock %}

  {% block pagetype %}guild{% endblock %}

  {% block title %}
  <title>+{{ b.name }} - Ruqqus</title>
  <meta name="description" content="{{ b.description }}">
  {% endblock %}

  {% block enlargeThumbJS %}
  <script src="/assets/js/enlarge_thumb.js"></script>
  {% endblock %}

  {% block fixedMobileBarJS %}
  <script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("fixed-bar-mobile").style.top = "49px";
        document.getElementById("navbar").classList.remove("shadow");
      } 
      else if (currentScrollPos <= 125) {
        document.getElementById("fixed-bar-mobile").style.top = "49px";
        document.getElementById("navbar").classList.remove("shadow");
      }
      else {
        document.getElementById("fixed-bar-mobile").style.top = "-49px";
        document.getElementById("dropdownMenuSortBy").classList.remove('show');
        document.getElementById("dropdownMenuFrom").classList.remove('show');
        document.getElementById("navbar").classList.add("shadow");
      }
      prevScrollpos = currentScrollPos;
    }
  </script>
  {% endblock %}
