{% extends "docs_default.html" %}

{% block sidebarblock %}{% endblock %}
{% block sidebarLeftblock %}{% endblock %}

{% block title %}
<title>Ruqqus - Help</title>
<meta name="description" content="Ruqqus Help">
{% endblock %}

{% block content %}
{% filter markdown %}
# Help

## General Information

* [About](/help/about)
* [FAQ](/help/faq)

## Account Cosmetics

* [Badges](/help/badges)
* [Titles](/help/titles)

## Ruqqus Policies

* [Terms of service](/help/terms)
* [Content Policy](/help/rules)
* [Privacy Policy](/help/privacy)

## Law Enforcement

* [Submit a Legal Requests](/legal)

## Press

* [Press Resources](/help/press)

{% endfilter %}
{% endblock %}
