{% extends "home.html" %}

{% block sidebarblock %}
<div class="sidebar-section sidebar-about">
	<div class="title"><i class="fas fa-home-alt mr-2"></i>Your homepage</div>
	<div class="body">
	{% if v and v.subscriptions.filter_by(is_active=True).count() %}
		<p>This is your Ruqqus homepage. Check here to see the most upvoted and commented on content from the guilds you've joined and the users you've subscribed to.</p>
	{% elif v and not v.subscriptions.filter_by(is_active=True).count() %}
		<p>This is the Ruqqus homepage. The most upvoted and commented on content from guilds you join will be served here.</p>
	{% endif %}
		{% if v and not v.is_banned %}
		<div class="mt-3"><a class="btn btn-primary btn-block" href="/submit">Create post</a></div>
		{% endif %}
		{% if not v %}
		<div class="mt-3"><a class="btn btn-primary btn-block" href="/login">Create post</a></div>
		{% endif %}
		{% if v and v.is_activated and v.karma+v.comment_karma >=100 %}
		<div class="mt-2"><a href="/create_guild" class="btn btn-secondary btn-block">Start a Guild</a></div>
		{% endif %}
	</div>
</div>
{% if not v and trending_boards %}
  <div class="sidebar-section sidebar-trending">
    <div class="title"><i class="fas fa-sparkles mr-2"></i>Rising Guilds</div>
    <div class="body">
      {% for entry in trending_boards[0:5] %}
      <div class="d-flex justify-content-start trending-guild">
        <div>
        <a href="{{ entry[0].permalink }}"><img src="{{ entry[0].profile_url }}" class="profile-pic-40 mr-2"></a>
       </div>
       <div>
        <a href="{{ entry[0].permalink }}">+{{ entry[0].name }}</a>
        <div class="text-muted text-small font-weight-normal">{{ entry[1] }} Member{{ '' if entry[1]==1 else 's' }}</div>
      </div>
    </div>
    {% endfor %}
    <a href="/browse" class="btn btn-primary btn-block mt-3">View more</a>
  </div>
</div>
{% elif v and v.subscriptions.filter_by(is_active=True).count() %}
<div class="sidebar-section sidebar-guild-recommendations">
  <div class="title"><i class="fas fa-university mr-2"></i>My guilds</div>
  <div class="body">
    <ul class="no-bullets guild-recommendations-list pl-0">
      {% for board in v.boards_subscribed[0:8] %}
      <li class="guild-recommendations-item">
        <a href="{{ board.permalink }}">
          <div class="d-flex">
            <div class="mr-2">
              <img src="{{ board.profile_url }}" class="profile-pic-25 mr-2"></div>
              <div class="my-auto">
                <div class="text-black font-weight-normal">+{{ board.name }}</div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="text-center">
        <a href="/mine" class="btn btn-link">View all</a>
      </div>
    </div>
  </div>
  {% elif v and not v.subscriptions.filter_by(is_active=True).count() %}
  <div class="sidebar-section sidebar-guild-recommendations sticky-105">
    <div class="title"><i class="fas fa-university mr-2"></i>My guilds</div>
    <div class="body">
      <div class="my-3" style="">
        <i class="fad fa-telescope text-primary" style="font-size:3rem"></i>
      </div>
      <h5>Discover amazing communities across Ruqqus.</h5>
      <p class="text-small">You are not a member of any guilds. Guilds you are a member of will be displayed here.</p>
      <a href="/browse" class="btn btn-primary btn-block">Discover guilds</a>
    </div>
  </div>
  {% endif %}

{% endblock %}