{% extends "home.html" %}

{% block sidebarblock %}
<div class="text-center my-4">
  <i class="fad fa-comment-alt-smile text-gray-400 mb-3" style="
  font-size: 3.5rem;
  "></i>
  <div class="h5 text-gray-500">Cool features coming here soon!</div>
</div>

<div>
  <ul class="list-inline text-center text-small-extra mb-0">
    <li class="list-inline-item"><a href="/help/about" class="text-gray-500">About</a></li>
    <li class="list-inline-item d-none"><a href="mailto:hello@ruqqus.com" class="text-gray-500">Contact</a></li>
    <li class="list-inline-item"><a href="/help/terms" class="text-gray-500">Terms</a></li>
    <li class="list-inline-item"><a href="/help/privacy" class="text-gray-500">Privacy Policy</a></li>
    <li class="list-inline-item"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=LXJULS6HWDKQG&amp;source=url" class="text-gray-500">Donate</a></li>
    <li class="list-inline-item"><a href="/help/press" class="text-gray-500">Press</a></li>
    <li class="list-inline-item"><a href="/help" class="text-gray-500">Help</a></li>
    <li class="list-inline-item"><a href="https://www.twitter.com/ruqqus" class="text-gray-500">Twitter</a></li>
    <li class="list-inline-item"><a href="https://ruqqus.org/contribute" class="text-gray-500">Github</a></li>
    <li class="list-inline-item"><span class="text-muted">© 2020 Ruqqus, LLC</span></li>
  </ul>
</div>
{% endblock %}