{% extends "default.html" %}
{% block content %}
<h1>User Titles</h1>
<div>This page describes the requirements to display all available titles.</div>

<table>
	<th>
		<td>Title</td>
		<td>Description</td>
	</th>
{% for t in titles %}
	<tr>
		<td>{% if t.is_before %}<span style="color:#{{ t.color }}">{{ t.text }}</span> {% endif %}{% if v %}<a href="{{ v.permalink }}" class="user-name">{{ v.username }}</a>{% else %}[name]{% endif %}{% if not t.is_before %}<span style="color:#{{ t.color }}">{{ t.text }}</span>{% endif %}</td>
		<td>{{ t.requirement_string }}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}