{% extends "default.html" %}

{% block enlargeThumbJS %}
<script src="/assets/js/enlarge_thumb.js"></script>
{% endblock %}

{% block fixedMobileBarJS %}
<script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("fixed-bar-mobile").style.top = "49px";
      document.getElementById("navbar").classList.remove("shadow");
    } 
    else if (currentScrollPos <= 125) {
      document.getElementById("fixed-bar-mobile").style.top = "49px";
      document.getElementById("navbar").classList.remove("shadow");
    }
    else {
      document.getElementById("fixed-bar-mobile").style.top = "-49px";
      document.getElementById("dropdownMenuSortBy").classList.remove('show');
      document.getElementById("dropdownMenuFrom").classList.remove('show');
      document.getElementById("navbar").classList.add("shadow");
    }
    prevScrollpos = currentScrollPos;
  }
</script>
{% endblock %}

<!-- Left Sidebar (navigation-purposes, hidden on devices smaller than "large") -->

{% block leftSidebarBlock %}
{% include "sidebar-left.html" %}
{% endblock %}


{% block content %}

<div class="mt-3 mt-md-0">

  <h1>Your guilds</h1>

</div>

<div class="flex-row box-shadow-bottom d-flex pt-3 mb-3 mb-md-5">

      <ul class="nav settings-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active font-weight-bold" href="/settings/profile">Member of</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="/settings/security">Guildmaster of</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-none" href="/settings/notifications">Notifications</a>
        </li>
      </ul>

</div>

<div class="row row-cols-1 row-cols-md-3">

  {% block maincontent %}
  {% endblock %}

</div>
{% endblock %}

{% block pagenav %}
<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm mb-0">
    {% if page>1 %}
    <li class="page-item">
      <small><a class="page-link" href="?sort={{ sort_method }}&page={{ page-1 }}" tabindex="-1">Prev</a></small>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Prev</span></li>
    {% endif %}
    {% if next_exists %}
    <li class="page-item">
      <small><a class="page-link" href="?sort={{ sort_method }}&page={{ page+1 }}">Next</a></small>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}